<style>
  #chatbox {
    height:120px;
    width:100%;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow: auto;
  }
</style>

<div class="row col-md-8 col-md-offset-2">
  <h1><%= @channel.name %></h1>
    <div id="chatbox">
      <% @messages.each do |msg| %>
        <p>
          <%= msg.created_at.strftime('%H:%M:%S') %><strong> <%= msg.user.alias %></strong>:
          <%= msg.content %>
        </p>
      <% end %>
    </div>
    <%= render partial: 'messages/message_form', locals: {channel: @channel} %>
</div>
